.alamat {
	height: 250px;   
	width: 500px;  
	float: left;
}
.layout {
	background-image: url(gambar3.jpg);
	background-size: cover;
	height: 800px;
	width: 100% ;
	display: inline-block;	
}

.footer h1 {
width: 100%;
background-color: #FFFFFF;
color: #000;
padding-top:20px;
padding-bottom:50px;
padding-right: auto;
text-align:center;
font-size:18px;
font-weight:bold;
margin-left: -1.2vh;
margin-top: 10vh;
}
.buttom {
	width: 60%;
	float: right;
	text-align:center;
	font-size:18px;
	display: inline-block;
	margin-top: -140px;
	margin-right: 20px;
}

nav ul {
    
    padding: 0 0px;
    list-style: none;
    position: relative;
    width: 100%;
    font-family: ‘helvetica’, arial;
}
 
nav ul:after {
    content: "";
    clear: both;
    display: block;
}
 
nav ul li {
    float: left;
}
 
nav ul li:hover {
    background-color: #222;
 
}
 
nav ul li a {
 
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    color: #fff;
 
}
 
nav ul li a:hover{
 
    color: #fff;
 
}
 
nav ul ul {
 
    display: none;
    background: #111;
    padding: 0;
    position: absolute;
    top: 100%;
    max-width: 300px;
    width: auto;
 
}
 
nav ul ul li {
 
    float: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    position: relative;
 
}
 
nav ul li:hover > ul {
 
    display: block;
 
}
 
nav ul ul li a {
 
    padding: 10px 40px;
    color: #fff;
 
}
 
nav ul ul li a:hover {
 
    background: #222;
 
}
 
nav ul ul ul {
 
    position: absolute;
    left: 100%;
    top:0;
    width: 200px;
 
}